.shiny-options-group {
  margin: 10px;
}

.shiny-options-group input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.shiny-options-group span {
    display: inline-block;
    padding: 10px 40px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.shiny-options-group input[type = "radio"]:focus + span {
    background-color: #bfb;
    border-color: #4c4;
}


.shiny-options-group input[type = "radio"]:checked + span {
    background-color: #bfb;
    border-color: #4c4;
}

.shiny-options-group span:hover {
  background-color: #bfb;
}

#min {
  font-size: large;
  font-weight: bold;
}

#sec {
  font-size: large;
  font-weight: bold;
}
